* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #6d4f34;
  overflow: hidden;
}

.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  /* padding: 2em; */
}

.menu-item {
  text-transform: uppercase;
}

.menu-toggle {
  background-color: orangered;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.camera-navbar,
.menu-btn {
  padding: 2em;
}

.centerbar {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-around;
  width: 100%;
  z-index: 2;
  color: #fff;
  font-style: italic;
}

.block-1-container {
  background: #541a01;
  font-family: "Carbon Bold";
  text-transform: uppercase;
  width: 240px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  left: -100px;
}

.block-2-container {
  transform: rotate(90deg);
  position: relative;
  top: -80px;
  left: 200px;
  /* left: 100px; */
  font-family: "Neue Montreal";
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 20px;
  letter-spacing: 5px;
  height: 100%;
  font-style: italic;
}

.img-one {
  background: url("img/pic-1.jpg") no-repeat 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 35%;
  transform: translateX(-50%);
  width: 280px;
  height: 340px;
  z-index: 1;
}
.img-two {
  position: absolute;
  top: 20%;
  right: 0%;
  width: 540px;
  height: 400px;
  background: url("img/pic-2.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.img-three {
  position: absolute;
  bottom: -50px;
  right: 38%;
  width: 220px;
  height: 250px;
  background: url("img/pic-3.jpg") no-repeat 50% 50%;
  background-size: cover;
  z-index: 2;
}

.bottombar {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-transform: uppercase;
  text-decoration: underline;
  z-index: 3;
  font-weight: bold;
  font-style: italic;
}

.bottombar-item {
  padding: 1.8em;
  font-size: 18px;
}

.header {
  position: absolute;
  right: 180px;
  bottom: -180px;
  z-index: 2;
}

.header-container {
  display: flex;
}
.header-item {
  font-family: "Neue Montreal";
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 580px;
}

/* Responsive */
.menu-toggle {
  animation-timing-function: ease;
  animation-duration: 300ms;
  position: absolute;
  right: 10px;
  top: 10px;
}

.header--nav {
  position: fixed;
  overflow: hidden;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* clip-path: circle(50%); */
  /* visibility: hidden; */
}
.nav-js {
  visibility: hidden;
}

.hide {
  opacity: 0;
  z-index: -1;
}

ul.header-menu {
  height: 90%;
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 80px;
}

ul a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}

ul li {
  list-style-type: none;
  position: relative;

  display: flex;
  justify-content: center;
}

ul li::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  top: 100%;
  left: 0;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
  transform: scale(0);
}

ul li:hover::before {
  transform: scale(1);
}
